// Configuration documentation
// https://github.com/niri-wm/niri/wiki/Configuration:-Introduction

// https://github.com/niri-wm/niri/wiki/Configuration:-Miscellaneous
prefer-no-csd
spawn-sh-at-startup "$HOME/.local/share/dotfiles/scripts/wallpaper-random.sh"
spawn-sh-at-startup "qs"

// https://github.com/niri-wm/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            options "caps:escape"	
        }
    }

    focus-follows-mouse max-scroll-amount="0%"
}

// https://github.com/niri-wm/niri/wiki/Configuration:-Outputs
include "local-monitor-config.kdl"

// https://github.com/niri-wm/niri/wiki/Configuration:-Key-Bindings
binds {
    // Application
    Mod+Space hotkey-overlay-title="Open app launcher" { spawn "fuzzel"; }
    Mod+Return hotkey-overlay-title="Open terminal" { spawn-sh "ghostty"; }

    // Window navigation
    Mod+H hotkey-overlay-title="Focus window left" { focus-column-left; }
    Mod+Shift+H hotkey-overlay-title="Focus monitor left" {focus-monitor-left; }
    Mod+J hotkey-overlay-title="Focus workspace down" { focus-workspace-down; }
    Mod+K hotkey-overlay-title="Focus workspace up" { focus-workspace-up; }
    Mod+L hotkey-overlay-title="Focus window right" { focus-column-right; }
    Mod+Shift+L hotkey-overlay-title="Focus monitor right" {focus-monitor-right; }

    // Window positioning 
    Mod+Ctrl+H hotkey-overlay-title="Move window left" { move-column-left; }
    Mod+Ctrl+Shift+H hotkey-overlay-title="Move window to left monitor" { move-column-to-monitor-left; }
    Mod+Ctrl+J hotkey-overlay-title="Move window down" { move-column-to-workspace-down; }
    Mod+Ctrl+K hotkey-overlay-title="Move window up" { move-column-to-workspace-up; }
    Mod+Ctrl+L hotkey-overlay-title="Move window right" { move-column-right; }
    Mod+Ctrl+Shift+L hotkey-overlay-title="Move window to right monitor" { move-column-to-monitor-right; }
    Mod+BracketLeft hotkey-overlay-title="Stack window left" { consume-or-expel-window-left; }
    Mod+BracketRight hotkey-overlay-title="Unstack window right" { consume-or-expel-window-right; }
    Mod+V hotkey-overlay-title="Float window" { toggle-window-floating; }

    // Window sizing
    Mod+F hotkey-overlay-title="Maximize window" { maximize-column; } 
    Mod+Shift+F hotkey-overlay-title="Fullscreen" { fullscreen-window; }
    Mod+Minus hotkey-overlay-title="Decrease width" { set-column-width "-10%"; }
    Mod+Equal hotkey-overlay-title="Increase width" { set-column-width "+10%"; }
    Mod+Shift+Minus hotkey-overlay-title="Decrease height" { set-window-height "-10%"; }
    Mod+Shift+Equal hotkey-overlay-title="Increase height" { set-window-height "+10%"; }

    // Volume control
    Mod+P hotkey-overlay-title="Play/pause player" allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    Mod+O hotkey-overlay-title="Increase volume" allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    Mod+I hotkey-overlay-title="Decrease volume" allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    Mod+U hotkey-overlay-title="Player next" allow-when-locked=true { spawn-sh "playerctl next"; }
    Mod+Y hotkey-overlay-title="Player previous" allow-when-locked=true { spawn-sh "playerctl previous"; }

    // Misc
    Mod+Q hotkey-overlay-title="Close window" { close-window; }
    Mod+Shift+W hotkey-overlay-title="Choose random wallpaper" { spawn-sh "$HOME/.local/share/dotfiles/scripts/wallpaper-random.sh"; }
    Mod+S hotkey-overlay-title="Screenshot" { spawn-sh "$HOME/.local/share/dotfiles/scripts/screenshot.sh"; }
    Mod+E hotkey-overlay-title="Toggle overview" { toggle-overview; }
    Mod+Shift+Slash hotkey-overlay-title="Show hotkeys" { show-hotkey-overlay; }
    Mod+Shift+E hotkey-overlay-title="Quit Niri" { quit; }
    Mod+Shift+P hotkey-overlay-title="Power off monitors" { power-off-monitors; } 
}

// https://github.com/niri-wm/niri/wiki/Configuration:-Switch-Events


//https://github.com/niri-wm/niri/wiki/Configuration:-Layout
layout {
    gaps 10
    center-focused-column "never"
    default-column-width { proportion 0.5; }

    focus-ring {
        off 
    }

    border {
        width 2
        active-color "#5e81ac"
        inactive-color "#3b4252"
        urgent-color "#9b0000"
    }
}

// https://github.com/niri-wm/niri/wiki/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// https://github.com/niri-wm/niri/wiki/Configuration:-Layer-Rules


// https://github.com/niri-wm/niri/wiki/Configuration:-Animations


// https://github.com/niri-wm/niri/wiki/Configuration:-Gestures


// https://github.com/niri-wm/niri/wiki/Configuration:-Recent-Windows


// https://github.com/niri-wm/niri/wiki/Configuration:-Debug-Options
